<div class="search-page">
  <div class="grid grid--2">
    <!-- USERS -->
    <section class="card search-card">
      <h3 class="card__title">Peoples</h3>

      {{#if users.length}}
      <div class="list list--vertical">
        {{#each users}}
        <a href="/profile/{{this._id}}" class="user-row">
          <div class="avatar avatar--md">
            <img src="{{this.avatar}}" alt="{{this.name}}" />
          </div>

          <div class="user-row__info">
            <div class="user-row__name">{{this.name}}</div>
            <div class="user-row__sub">@{{this.username}}</div>
          </div>
        </a>
        {{/each}}
      </div>
      {{else}}
      <div class="empty">No people found</div>
      {{/if}}
    </section>

    <!-- TASKS -->
    <section class="card search-card">
      <h3 class="card__title">Tasks Result</h3>

      {{#if tasks.length}}
      <div class="list list--vertical">
        {{#each tasks}}
        <div class="task-row">
          <a href="/tasks/{{this._id}}" class="task-row__title">
            📌 {{this.title}}
          </a>

          {{#if this.author}}
          <div class="task-row__author">
            <div class="avatar avatar--sm">
              <img src="{{this.author.avatar}}" alt="{{this.author.name}}" />
            </div>
            <span>{{this.author.name}}</span>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{else}}
      <div class="empty">No tasks found</div>
      {{/if}}
    </section>
  </div>
</div>
