<div class="users-page">
  <!-- HEADER -->
  <div class="users-header">
    <div>
      <h5>Discover people</h5>
      <p>Connect with others in the community</p>
    </div>

    <a href="#" class="view-following">Following</a>
  </div>

  <!-- LIST -->
  <div class="users-list">
    {{#each users}}
    <div class="user-card">
      <!-- LEFT -->
      <div class="user-left">
        <a href="/profile/{{this._id}}">
          {{#if this.avatar}}
          <img src="{{this.avatar}}" class="user-avatar" />
          {{else}}
          <div class="user-avatar-placeholder">{{this.name.[0]}}</div>
          {{/if}}
        </a>

        <div class="user-meta">
          <a href="/profile/{{this._id}}" class="user-name"> {{this.name}} </a>

          {{#if this.email}}
          <span class="user-subtext">{{this.email}}</span>
          {{/if}}
        </div>
      </div>

      <!-- RIGHT -->
      <button
        class="btn follow-btn {{#if this.isFollowing}}btn-secondary{{else}}btn-primary{{/if}}"
        onclick="{{#if this.isFollowing}}unfollow('{{this._id}}', this){{else}}follow('{{this._id}}', this){{/if}}"
      >
        {{#if this.isFollowing}}Following{{else}}Follow{{/if}}
      </button>
    </div>
    {{/each}}
  </div>
</div>

<script>
  async function follow(userId, btn) {
    btn.disabled = true;
    try {
      const res = await fetch(`/api/follow/${userId}`, {
        method: 'POST',
      });
      const data = await res.json();
      if (data.following) {
        btn.innerText = 'Unfollow';
        btn.classList.remove('btn-primary');
        btn.classList.add('btn-secondary');
        btn.onclick = () => unfollow(userId, btn);
      }
    } catch (err) {
      console.error(err);
    }
    btn.disabled = false;
  }
  async function unfollow(userId, btn) {
    btn.disabled = true;
    try {
      const res = await fetch(`/api/follow/${userId}`, {
        method: 'DELETE',
      });
      const data = await res.json();
      if (!data.following) {
        btn.innerText = 'Follow';
        btn.classList.remove('btn-secondary');
        btn.classList.add('btn-primary');
        btn.onclick = () => follow(userId, btn);
      }
    } catch (err) {
      console.error(err);
    }
    btn.disabled = false;
  }
</script>
